/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

/* Layout generic classes */

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Buttons */
.btn{
    display: inline-block;
    text-decoration: none;
    line-height: normal;
}

.btn-small {
    padding: 10px 14px;
}

.btn-large {
    padding: 8px 18px;
}

.btn-xlarge{
    padding: 10px 50px;
    font-weight: 600;
}

.btn-border{
    border:1px solid black;
    color: black;
}

.btn-white{
    background-color: white;
    color:black;
}

.btn-skyblue{
    background-color: #3c84ff;
    color: white;
}

.btn-skyblue:hover{
    background-color: #0061ff;
}

.btn-white:hover{
    background-color: #f5f5f5;
}
/* Containers */

.container-large{
    width: 80%;
    margin: auto;
}

.container{
    width: 70%;
    margin: auto;
}

/* Text and Title */
.title-h2{
    font-size: 40px;
}

.title-h3{
    font-size: 25px;
    font-weight: 800;
}

.title-h2-narrow{
    font-size: 35px;
    font-weight: 600;
}
 
.text-small{
    font-size: 12px;
}

.text-gray{
    color: gray;
}

.text-blue{
    color:#0061ff  
}

/* Borders */
.border{
    border: 1px solid lightgray;
}

.border-sub{
    border-bottom: 1px solid lightgray;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    background-color: white;
    z-index: 1;
}


/* NAV */
nav{
    line-height: 80px;
}

.col.nav-left,
.col.nav-right{
    width: 50%;

}

.nav-left img{
    vertical-align: middle;
}

.menu li{
    display: inline-block;
    margin: 0 20px;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: black;
    font-weight: 600;   
}

.menu a:hover{
    border-bottom:2px solid black ;
}

.menu-right{
    text-align: right;
}

#btn-top{
    color: white;
    border-bottom: none;
}

/* MAIN */
main{
    margin-top: 80px;
}

/* Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    margin-bottom: 200px;
}

.jumbotron-content{
    padding-top: 70px;
}

.jumbotron-content h1{
    font-size: 70px;
}

.jumbo-sub-left{
    width: 30%;
    margin-right: 60px; 
    margin-top: 60px;  
}

.jumbo-sub-right{
    width: 60%; 
    position: relative;
    top:60px;     
}

.jumbo-sub-left p{
    margin-bottom: 20px;
}

.jumbo-sub-left .text-small{
    margin: 10px 0;
}

.arrow{
    font-size: 40px;
    padding: 20px 0;
}

/* Sections */

/*Piani */
.piani h2{
    margin-bottom: 80px;
}

.round-checkbox{
    width: 18px;
    height: 18px;
    border:1px solid lightgray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.round-checkbox:hover{
    border:4px solid #0061ff;
}

.fatturazione{
    display: inline-block;
}

.advantages{
    margin-top: 40px;
}

.advantages-left,
.advantages-center,
.advantages-right{
    width: calc(100% / 3 - 40px);
    min-height: 1000px;
}

.advantages-center{
    margin: 0 60px;
}

/* Advantages cols */
.col-advantages-header{
    text-align: center;
    padding: 10px 0;  
}

.col-advantages-main{
    padding: 30px;
}

 
.col-advantages-main ul{
    margin-bottom: 50px;
}

.col-advantages-main li{
    margin-bottom: 20px;
}

.price{
    font-weight: 800;
}

.li-icon{
    padding-left: 20px;
}

.icon{
    margin-left: -20px;
    line-height: 5px;
}

.buying{
    margin-top: 30px;
}

.buying .text-blue{
    text-decoration: underline; 
}

.buying:after {
	display: block;
	content: '';
	width: 40px;
	height: 1px;
	background-color: gray;
	margin:30px 0 40px 0;
}

.col-advantages-main h4{
    margin-bottom: 20px;
}

/*Enterprise */
.enterprise-header{
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;  
}

.enterprise-main{
    padding: 30px;
}

.enterprise-main-text{
    width: 70%;
}

.enterprise-main-btn{
    width: 30%;
}

.enterprise-main-text> *{
    margin-bottom: 20px;
}


/* Partner */
.partner{
    margin: 150px 0;
}

.partner-img,
.partner-text{
    width: calc(100% / 2);
}

.partner-text{
    padding: 40px;
}

.partner-text> *{
    margin-bottom: 20px;
}

.partner-text p{
    line-height: 30px;
}

/* Operations */
.row-operation{
    padding: 50px 0;
}

.operations .col{
    width: calc(100% / 3 - 60px);
}

.operation-center{
    margin: 0 90px;
}

.operation-text h3{
    margin-bottom: 20px;
}
.underline{
    text-decoration: underline;
}

/* Users */
.users{
    margin-top: 200px;
}

.users a{
    display: inline-block;
    margin: 50px 0;
}

/* Partnership */
.partnership{
    width: 100%;
    height: 400px;
}

.col.partnership-left,
.col.partnership-right {
    width: 400px;
    height: 400px;
}

.col.partnership-center{
    width: calc( 100% - 800px);
    background-color: #f5f5f5;
    height: 400px;
}

.partnership .square{
    width: 200px;
    height: 200px;
    position: relative;
}

.designit-bg-first{
    width: 180px;
    height: 180px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a2d39b;
}

.logo{
    width: 120px;
}

.logo-white-center{
    width: 120px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#designit{
    background-color: #d0e9cd;
}
#uf{
    background-color: #0093ce;
}
#asu{
    background-color: #61082b;
}
#topps{
    background-color: #ff1c1c;
}
#world-bicycle-relief{
    background-color: #d5001f;
}
#lonely-planet{
    background-color: #0d2481;
}
#hearst{
    background-color: #b4d0e7;
}
#clear-channel{
    background-color: #ffd830;
}

.col.partnership-center{
    padding: 50px;
}

.designit-text::before{
        display: block;
        content: '';
        width: 40px;
        height: 1px;
        background-color: gray;
        margin: 30px 0 50px 0;
}

.designit-text{
    margin: 30px 0 50px 0;
}

/* Trial */

.trial{
    background-color: #b4d0e7;
    
}

.trial-content{
    padding: 130px 0;
}
.trial-text{
    width: 50%;
    color:#61082b;   
}

.trial-btn{
    width: 50%;
    text-align: right;
}

/* FAQ */
.faq{
    margin: 100px 0;
}

.faq h2{
    padding: 50px 0;
}

.faq-text p{
    display: none;
    margin-top: 20px;
    color: gray;
}

.row-faq:hover p{
    display: inline-block;
}

.row-faq{
    border-top: 1px solid lightgray;
    padding: 40px 0;
}

.faq-text{
    width: 95%;
    
}

.faq-icon{
    width: 5%;
    font-size: 20px;
}

#row-faq-bottom{
    border-bottom: 1px solid lightgray;
}

/* FOOTER */
footer{
    background-color: black;
    margin-top: 100px;
    color: white;
    padding: 100px 0 50px;
}

.footer-menus::after{
    display: block;
	content: '';
	width: 120px;
	height: 1px;
	background-color: white;
    margin-bottom: 50px;
}


.footer-singel-menu{
    width: calc(100% / 5);
    padding-bottom: 100px;
}

.footer-singel-menu li{
    padding-bottom: 7px;
}

.footer-singel-menu h3{
    margin-bottom: 20px;
}

.footer-singel-menu a{
    color: white;
    text-decoration: none;
}
